*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo img{
    width: 139px;
    height: 60px;
}
nav{
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-parent{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .nav-parent a{
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
}
.my-btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
#hero{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
}
#hero .hero-container{
     width: 1360px;
    height: 379px;
    margin: 0px;
    padding: 0 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sign{
    width: 239px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
}
.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #4caf50;
    box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.25);
}
.text {
    color: #4caf50;
    font-size: 16px;
    font-weight: 500;
    width: 183px;
    height: 19px;
}
.title-1{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    line-height: 84px;
    margin: 0px;
    padding: 0px;
}
.title-2{
    text-align: center;
    color: #30B868;
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    line-height: 84px;
    margin: 0px;
    padding-bottom: 16px;
}
.hero-text{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding-bottom: 32px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.btn-img{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}
.my-btn-1{
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
}
 


