*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo img{
    width: 139px;
    height: 60px;
}
nav{
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-parent{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .nav-parent a{
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
}
.my-btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
#hero{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
}
#hero .hero-container{
     width: 1360px;
    height: 379px;
    margin: 0px;
    padding: 0 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sign{
    width: 239px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
}
.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #4caf50;
    box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.25);
}
.text {
    color: #4caf50;
    font-size: 16px;
    font-weight: 500;
    width: 183px;
    height: 19px;
}
.title-1{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    line-height: 84px;
    margin: 0px;
    padding: 0px;
}
.title-2{
    text-align: center;
    color: #30B868;
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    line-height: 84px;
    margin: 0px;
    padding-bottom: 16px;
}
.hero-text{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding-bottom: 32px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.btn-img{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}
.my-btn-1{
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
}
#parent{
    margin: 0px 120px 120px 120px;
    width: 1360px;
    height: 448px; 
}
.parent-heading{
    width: 1360px;
    height: 153px;
}
.parent-heading-title{
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    color: #001931;
    height: 116px;
    width: 1360px;
    text-align: center;
    text-transform: capitalize;
    line-height: 58px;
    margin-bottom: 16px;
}
.child{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
}
.parent-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1360px;
    height: 300px;
}
.parent-card-info{
    width: 322px;
    height: 300px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent-card .parent-card-info .background-image{
    background-color: #F95555;
    padding: 0;
}
.circle{
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}
.circle img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.parent-card-title{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
    text-transform: capitalize;
    line-height: 29px;
    margin-bottom: 16px; 
}
#parent-1{
    height: 840px;
    width: 1600px;
    padding: 120px;
}
.parent-1-container{
    width: 1360px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.img-style{
    width: 600px;
    height: 600px;
}
.img-style img{
    width: 600px;
    height: 600px;
}
.parent-1-info{
    width: 700px;
    height: 396px;
}
.parent-1-subtitle{
    width: 700px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.parent-1-title{
    width: 700px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: 58px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.child-1{
     width: 700px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: left;
    line-height: 20px;
    margin-bottom: 40px;
}
.list{
    width: 700px;
    list-style: none;
}
.list li{
    color: #001931;
    font-weight: 500;
    text-align: left;
    line-height: 20px;
    font-size: 16px; 
}
.list li img{
    height: 20px;
    width: 20px;
}
#parent-2{
    width: 1600px;
    height: 506px;
    padding: 0px 120px 120px;
}
.parent-2-container{
    width: 1360px;
    height: 384px;
    padding: 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #F7F6F2;
}
.parent-2-start{
    width: 1280px;
    height: 112px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.parent-heading-title-1{
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    color: #001931;
    height: 116px;
    width: 1360px;
    text-align: center;
    text-transform: capitalize;
    line-height: 48px;
}
.parent-heading-subtitle-2{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
}
.parent-2-btn{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.my-btn-shadow{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}



